.aligner {
	display: flex;
	align-items: center;
  	justify-content: center;
  	height: 100%;
  	flex-direction: column;
}

body {
	background-color: black;
}

@font-face { font-family: Crackman; src: url('http://127.0.0.1:5000/static/Pacmania.otf'); } 

.heading{
	font-family: Crackman;
	color: yellow;
	font-size: 5em;
	margin-bottom: 0;
	margin-top: -40px;
	-webkit-text-stroke: 1px red;
}

.announcement {
	font-family: Crackman;
	color: yellow;
	font-size: 5em;
	margin-bottom: 0;
	margin-top: 0px;
	-webkit-text-stroke: 1px red;
}