<link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">

<div class="aligner">
	<canvas class="centered" id="canvas" width= "500px" height="500px"></canvas>
</div>

<img id="sprite-l" src="http://127.0.0.1:5000/static/sprites/pm-l.png" style="display: none;" >
<img id="sprite-r" src="http://127.0.0.1:5000/static/sprites/pm-r.png" style="display: none;">
<img id="sprite-u" src="http://127.0.0.1:5000/static/sprites/pm-u.png" style="display: none;">
<img id="sprite-d" src="http://127.0.0.1:5000/static/sprites/pm-d.png" style="display: none;">
<img id="sprite-c" src="http://127.0.0.1:5000/static/sprites/pm.png" style="display: none;">

<img id="red-l" src="http://127.0.0.1:5000/static/sprites/red-l.png" style="display: none;" >
<img id="red-r" src="http://127.0.0.1:5000/static/sprites/red-r.png" style="display: none;">
<img id="red-u" src="http://127.0.0.1:5000/static/sprites/red-d.png" style="display: none;">
<img id="red-d" src="http://127.0.0.1:5000/static/sprites/red-d.png" style="display: none;">

<script src="http://127.0.0.1:5000/static/app.js"></script>