<link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css">



<div class="aligner">
	<h1 class="heading">
		Hac Man
	</h1>
	<canvas class="centered" id="canvas" width= "500px" height="500px"></canvas>
	<h1 class="announcement" id="p1win" style="display: none;">
		Player 1 Wins!
	</h1>
	<h1 class="announcement" id="p2win" style="display: none;">
		Player 2 Wins!
	</h1>
</div>

<img id="sprite-l" src="http://127.0.0.1:5000/static/sprites/pm-l.png" style="display: none;" >
<img id="sprite-r" src="http://127.0.0.1:5000/static/sprites/pm-r.png" style="display: none;">
<img id="sprite-u" src="http://127.0.0.1:5000/static/sprites/pm-u.png" style="display: none;">
<img id="sprite-d" src="http://127.0.0.1:5000/static/sprites/pm-d.png" style="display: none;">
<img id="sprite-c" src="http://127.0.0.1:5000/static/sprites/pm.png" style="display: none;">

<img id="red-l" src="http://127.0.0.1:5000/static/sprites/red-l.png" style="display: none;" >
<img id="red-r" src="http://127.0.0.1:5000/static/sprites/red-r.png" style="display: none;">
<img id="red-u" src="http://127.0.0.1:5000/static/sprites/red-d.png" style="display: none;">
<img id="red-d" src="http://127.0.0.1:5000/static/sprites/red-d.png" style="display: none;">

<img id="blue-l" src="http://127.0.0.1:5000/static/sprites/blue-l.png" style="display: none;" >
<img id="blue-r" src="http://127.0.0.1:5000/static/sprites/blue-r.png" style="display: none;">
<img id="blue-u" src="http://127.0.0.1:5000/static/sprites/blue-d.png" style="display: none;">
<img id="blue-d" src="http://127.0.0.1:5000/static/sprites/blue-d.png" style="display: none;">

<img id="pink-l" src="http://127.0.0.1:5000/static/sprites/pink-l.png" style="display: none;" >
<img id="pink-r" src="http://127.0.0.1:5000/static/sprites/pink-r.png" style="display: none;">
<img id="pink-u" src="http://127.0.0.1:5000/static/sprites/pink-d.png" style="display: none;">
<img id="pink-d" src="http://127.0.0.1:5000/static/sprites/pink-d.png" style="display: none;">

<img id="vuln0" src="http://127.0.0.1:5000/static/sprites/vuln0.png" style="display: none;">
<img id="vuln1" src="http://127.0.0.1:5000/static/sprites/vuln1.png" style="display: none;">

<script src="http://127.0.0.1:5000/static/app.js"></script>